 
DATABASE_URL="postgresql://myusername:mypassword@localhost:54320/postgres"
#postgresql://myusername:mypassword@ 0.0.0.0:54320

#DATABASE_URL="mysql://root:@localhost:3306/tahu_baxo_new"

SMTP_PASSWORD=
SMTP_EMAIL=


EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT= 
EMAIL_SERVER_USER= 
EMAIL_SERVER_PASSWORD= 

# EMAIL_SERVER= 
EMAIL_FROM=


GITHUB_ID=
GITHUB_SECRET= 
GOOGLE_ID=
GOOGLE_SECRET=


MONGODB_URI=

